.header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #EEEEEE;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  text-align: center;
  align-items: center;
  fill: currentColor;

  margin-right: 10px;
}

.header__contact {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: var(--transition-hover-focus);
}

.header__contact:hover,
.header__contact:focus {
  color: var(--accent-color);
}

.nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: var(--transition-hover-focus);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.navlink__curred {
  color: var(--accent-color);

}

.navlink__curred::after {
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: translateY(27px);
}